spring.application.name=backend


spring.datasource.url=YOUR_URL_HERE
spring.datasource.username=postgres

spring.datasource.password=YOUR_PASSWORD_HERE

spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update

spring.jpa.show-sql=true

spring.jpa.open-in-view=false



jwt.secret=YOUR_SECRETKEY_HERE
jwt.expiration=86400000